apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pythontest
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'GIT_REPO_URL'      # <-- replace with your git repo URL (https or ssh)
    targetRevision: HEAD
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: pythontest
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
